<h1>Xoá </h1>
<form [formGroup]="playForm" (ngSubmit)="deletePlay(id)">
  <table>
    <tr>
      <td>Name: </td>
      <td><input type="text" formControlName="name"></td>
    </tr>
    <tr>
      <td>Champ:  </td>
      <td><input type="text" formControlName="champ"></td>
    </tr>
    <tr>
      <td>kda:  </td>
      <td><input type="text" formControlName="kda"></td>
    </tr>
    <tr>
      <td>des: </td>:
      <td><input type="text" formControlName="des"></td>
    </tr>
    <tr>
      <td></td>
      <td><button>Xoá</button></td>
    </tr>
  </table>
</form>
