<h1>Cập nhật thông tin</h1>
<form  [formGroup]="playForm" *ngIf="this.playForm" (ngSubmit)="updatePlay(id)">
  <table>
    <tr>
      <td>name:</td>
      <td><input type="text" formControlName="name"></td>
    </tr>  <tr>
    <td>champ:</td>
    <td><input type="text" formControlName="champ"></td>
  </tr>  <tr>
    <td>kda:</td>
    <td><input type="text" formControlName="kda"></td>
  </tr>
    <tr>
      <td>des:</td>
      <td><input type="text" formControlName="des"></td>
    </tr>
    <tr>
      <td></td>
      <td><button>Cập nhật</button></td>
    </tr>
  </table>
</form>
